#bug {
    color: rgba(255, 99, 71, 0.5),
}

img {
    height: 5em;
    max-width: 100%;
  }

.buttons {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    h1 {
        display: none;
        visibility: hidden;
    }
  }